@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    font-family: theme('fontFamily.body');
    background-color: theme('colors.daawat.dark');
    color: theme('colors.gray.100');
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.display');
  }
}

/* Removed old bamey specific classes */
